﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>BigHero - Training Coordinator</title>
    <script type="text/javascript" src="/scripts/angular.js"></script>
    <script type="text/javascript" src="/scripts/trainingCoordinator.js"></script>
</head>
<body ng-app="trainingCoordinator">
    <div ng-controller="courseController">
        <h1>{{ welcomeText }}</h1>
    </div>
</body>
</html>