$content-background-color: #eee;

$navbar-background-color: #cb3837;
$navbar-width: 20%;
$navbar-border-right: solid 2px lighgrey;
$navbar-padding: 40px;

$navbar-text-font-size: 20px;
$navbar-text-margin-bottom: 20px;

$workspace-padding: 50px;
$workspace-border: solid 3px brown;
$workspace-padding: 40px;
$workspace-map-min-height: 400px;

.content__container {
  background-color: $content-background-color;
  width: 100%;
  margin-top: $navbar-padding;
  display: table;
  
  .navigation-bar__container {
    background-color: $navbar-background-color;
    width: $navbar-width;
    border-right: $navbar-border-right;
    padding: $navbar-padding;
    display: table-cell;
    vertical-align: top;
 
    .navigation-bar__container__room__item {
	margin-bottom: $navbar-text-margin-bottom;

	a {
	  color: white;
  	  font-size: $navbar-text-font-size;
	  text-decoration: none;	
	}
	
    }
  }
 
  .workspace-map__container {
    display: table-cell;
    padding: $workspace-padding;

    .workspace-map #drawingArea {
	border: $workspace-border;
        background-color: white;
        min-height: $workspace-map-min-height;
	width: 100%;
	height: 500px;
    }
  }
}
