$default-background-color: #cb3837;
$header-height: 50px;
$header-font-size: 30px;

.header__container {
  width: 100%;
  height: $header-height;
  background-color: $default-background-color;

  .header__text {
    color: white;
    height: $header-height;
    line-height: $header-height;
    text-align: center;
    font-size: $header-font-size;
  }
}


