.content__container {
  background-color: #eee;
  width: 100%;
  margin-top: 40px;
  display: table; }
  .content__container .navigation-bar__container {
    background-color: #cb3837;
    width: 20%;
    border-right: solid 2px lighgrey;
    padding: 40px;
    display: table-cell;
    vertical-align: top; }
    .content__container .navigation-bar__container .navigation-bar__container__room__item {
      margin-bottom: 20px; }
      .content__container .navigation-bar__container .navigation-bar__container__room__item a {
        color: white;
        font-size: 20px;
        text-decoration: none; }
  .content__container .workspace-map__container {
    display: table-cell;
    padding: 40px; }
    .content__container .workspace-map__container .workspace-map #drawingArea {
      border: solid 3px brown;
      background-color: white;
      min-height: 400px;
      width: 100%;
      height: 500px; }

.header__container {
  width: 100%;
  height: 50px;
  background-color: #cb3837; }
  .header__container .header__text {
    color: white;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px; }
